<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <style type="text/css">
      .display-1{
      	text-align: center;
      	color:#722227;
      	//background-color: #eec7c5;
      } 
      .jumbotron{
      	background-color: #ffff;
      	padding-left: auto;
        padding-right: auto;
        overflow: auto;
        min-width: 326px;
      	margin-top:10px; 
        //margin-right: 5%;
      	border-radius: 10px;
      }
      .container {
      	padding: 0px;
        margin-top: 5px;
      }  
      iframe {
        align:center;
        margin:auto;
      }
      img {max-width:100%;height:auto;margin: auto;float: none;display: block;
      margin: 0 auto; }
      
      .display-4 {
        word-wrap: break-word;
        height: auto;
        margin: auto;
        margin-top: 0px;
      }
      #buttn-div {
        width: 90%; 
        margin: auto;
        text-align: right;
      }
      #button-table {
        text-align: right; //выровнять по правому краю, возможно
      }

      a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      a:active {
          text-decoration: none;
      }

    </style>
    <link rel="shortcut icon" type="png" href="/static\icons\faviconwheretophoto.png"/>