<!DOCTYPE html>
<html>


<head>
	<style type="text/css">
		h1 {
			text-align: center;
			color: #503434;
		}

		h2 {
			text-align: center;
			color:#a55f41;
		}

		.titles {
			background-color: #e6b790;
			padding: 10px;
			border-radius: 5px;
		}
		.main_info {
			background-color: #fceac6;
			padding: 10px;
			border-radius: 5px;
			color:#503434;
		}
		}
	</style>
	<title>Заявка на статью</title>
</head>

<body bgcolor="#fceac6">
	<div class = "titles">
		<h1>Делись событиями!</h1>
		<h2>Привет. Заполни форму и расскажи всем о событиях в городе. Знаешь о интересной, но малозвестной выставке? Поделись с другими! Хочешь собрать больше людей на собственное мероприятие? Действуй!</h2>
	</div>
	<div class="main_info">
		<form method="POST">
		<p color="#9dbab3">О чем ты хочешь рассказать? <input type="text" name = "subject"required> </p>
    	<p>Расскажи подробнее:<BR><textarea name="full_story" cols="40" rows="5"></textarea> 
    
    </p>
    <p>Имя: <input type="text" name = "name" required></p>
    <p>Группа: <input type="text" name = "group" required></p>
    </div>
    <input type="submit" name="OK" >
    </form>
  <ul class="menu">
     <li><a href="#">ТЭГИ:<i class="fa fa-angle-down"></i></a>
        <ul class="submenu">
            <li><a href=#>музыка</a></li>
            <li><a href=#>живопись</a></li>
            <li><a href=#>спорт</a></li>
        </ul>
    </li>
  </ul>
    
</body>


</html>