<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WhereToPhoto?</title>
  {% include "cssjs.html"%} <!-- Команда библиотеки Jinja2 -->
  
  <!-- Скрипт для кнопки удаления отправляет -->
  <script type="text/javascript"> 
    function setDeleteValue(v) {
       document.getElementById('deleteUrl').value = v
    }
  </script>
    
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script type="text/javascript">
    ymaps.ready(init);
    var myMap
      {% for i in range( l|length) %}
        {{ ',myPlacemark%d'%i }}
      {% endfor %}
      ;

    function init(){     
        myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 7
        });

        {% for i in range(l|length) %}

        {{"myPlacemark%d"%i}} = new ymaps.Placemark([{{l[i]["longit"]}}, {{l[i]["lat"]}} ], 
        { 
          hintContent: '{{l[i]["hintContent"]}}', 
          balloonContent: '<a href="#{{l[i]["balloonContent"]}}"> {{l[i]["balloonContent"]}} </a>'});

        myMap.geoObjects.add({{"myPlacemark%d"%i}})
        {% endfor %}
 
      }
  </script>  

   
</head>

<body style="padding-top: 60px;">
 {% include "navbar.html" %}
  


  <div id="map" style="width: 90%; height: 200px; margin: auto;"></div>
  

{% include "modal_delete.html" %}
{% for t in articles %}
<div class="container" style="max-width: 537px; margin-bottom: 0px; ">
<div class="jumbotron" align="center">
  <a name="{{t[0]}}"><h1 align="center" >{{t[0]}}</h1></a>
    <blockquote class="blockquote text-right">
      <footer class="blockquote-footer">{{t[3]}}</footer>
      <footer class="blockquote-footer">{{t[6]}}</footer> 
    </blockquote>
  <table>
    <tr>
      <td>
      {% if t[4][:4] == "http" %}
        <img align="center" src="{{t[4]}}">
      {% else %}
        {% include "instagram.html" %}
      {% endif %}
      <p align="left" class="lead" >{{t[5]}}</p>
      <p class="lead"></p>
    </td>
    <td valign="top" style="width: 44px;">
      <form method="post" style="margin: 0px; padding: 0px;">
        <button name = "like" value = "{{t[2]~t[1]}}" type="submit" class="btn btn-light" style="min-width: 100%; ">
          <span>
            <img style="width: 10px;" src="/static/icons/heart-4x.png"> 
              {% if t[7] > 0 %} 
                <p>{{t[7]}}</p>
              {% endif %}
          </span>
        </button>
        <button type="button" class="btn btn-light" >
          <a href="comments/{{ t[2]~t[1] }}"><img src="/static/icons/comment-square-2x.png"></a>
        </button>
      </form>
    </tr>
  </table>

    {% if cookies_login == t[3] or cookies_login == "superuser" %}
    <table align="center">
      <tr>
        <td style="text-align: right;">
         <a href="edit/{{ t[2]~t[1] }}" role="button" class="btn btn-link">Редактировать</a>
        </td>
        <td style="text-align: left;">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal" onclick="setDeleteValue('{{t[2]~t[1]}}')")>Удалить</button>
        </td>
      </tr>
      </table>
    {% endif %}
  </p>
</div>
</div>
{% endfor %}
</body>
</html> 
